.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.home__img {
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
}

.home__img img {
  position: absolute;
  top: 0;
  left: 0;
}

.home__data {
  color: var(--first-color-dark);
}

.home__title {
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2.5rem;
}

.home__button {
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
}

.home__button:hover {
  background-color: var(--first-color-darken);
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
  body {
    margin: 0;
  }

  .bd-grid {
      column-gap: 0;
  }

  .home__container {
    justify-content: center;
    align-items: center;
  }
  
  .home__img {
    width: 375px;
    height: 289px;
  }

  .home__img img {
    width: 375px;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__data { 
      height: 410px;
  }

  .home__container {
    flex-direction: row;
    margin-top: 6em;
  }

  .home__img {
    order: 1;
    width: 604px;
    height: 604px;
  }

  .home__img img {
    width: 604px;
  }
}

.home__signed__container {
  margin-top: 5em;
}

.stock__title {
  font-weight: 600;
  font-size: 24px;
  margin-right: 1em;
}

.stock__title__symbol {
  font-size: 14px; 
  font-weight: lighter;
  color: grey;
}

.container__divider {
  border-top: 2px solid #000;
  margin-top: 0.5em;
}

.financials__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5em;
}

.MuiOutlinedInput-input {
  padding: 6px 17px !important;
  padding-right: 32px !important;
}

.financials__data__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: end;
  /* background-color: #000; */
  width: 100%;
  margin-top: 0.5em;
}

.financials__grid__child {
  width: 114.33px;
  height: 78px;
  border-top: 1px solid grey;
  padding: 4px;
}

.company__profile__container h2 {
  margin: 0;
}

.chart__container {
  height: 300px;
  margin-bottom: 5em;
}