.research__technical__analysis h3 {
    margin: 0;
    margin-bottom: 0.5em;
}

.history__title {
    margin: 0;
}

.research__risk h3 {
    margin: 0;
    margin-bottom: 0.5em;
}


@media only screen and (min-width: 768px) {
    .research__header {
        margin-top: 72px;
    }
}
