/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #ffffff;
}
  
/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        background: rgba(255,255,255,.3);
        backdrop-filter: blur(10px);
        transition: .5s;
    }
}
  
.nav__close{
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
  
.nav__item {
    margin-bottom: 2rem;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle{
    color: var(--first-color-darken);
}

.nav__link:hover{
    color: var(--first-color-dark);
}
  
.nav__toggle{
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__sign {
    display: inline-block;
    background-color: var(--first-color-dark);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: .5rem;
}

.nav__sign:hover{
    background-color: var(--first-color-darken);
}

.show {
    right: 0;
}
  
.nav__item__signed {
    margin-bottom: 2rem;
}

.nav__input {
    border: 1px solid grey;
}

input[type="text"]:focus {
    box-shadow: none;
    box-shadow: 2px 1px 4px #888888;
    border-radius: 24px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
    body {
      margin: 0;
    }
    
    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }
  
    .nav__toggle, .nav__close {
      display: none;
    }
  
    .nav__list {
      display: flex;
      align-items: center;
    }
  
    .nav__item {
      margin-left: 3rem;
      margin-bottom: 0;
    }

    .nav__item__signed {
        margin-left: 2rem;
        margin-bottom: 0;
    }

    .nav__input {
        visibility: hidden;
    }
}
  
@media screen and (min-width: 1024px){
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
    }
}