/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root{
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #61a5c2;
  --first-color-dark: #013a63;
  --first-color-darken: #012a4a;
  --white-color: #FCF8F8;
  
  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}
/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: 3rem 0 0 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: .938rem;
  font-weight: 500;
}

h1,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}